.ships {
  padding: 1rem;

  button {
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: $fs_h2;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;

    .direction {
      margin-bottom: 1rem;
    }

    &-left {
      flex-basis: 6rem;
    }

    .ship {
      display: flex;
    }

    .ship-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    .cell {
      width: $cell_size;
      height: $cell_size;
      border: 1px solid $color_board_cell_border;
    }

    .current-ship {
      @include outline-focus(black);
      animation: appear 0.5s ease-in;
    }

    .deck-1, .deck-2, .deck-3, .deck-4 {
      display: flex;
      transition: opacity ease-in .1s;

      &:hover {
        @include outline-focus(black);
      }
    }

    .deck-1 .cell {
      background: blue;
    }

    .deck-2 .cell {
      background: crimson;
    }

    .deck-3 .cell {
      background: lightgray;
    }

    .deck-4 .cell {
      background: green;
    }
  }

  @media screen and (max-width: $md) {
    padding: 8px;
    font-size: $fs_xs_small;

    .btn {
      font-size: $fs_xs_small;
      padding: 5px 10px;
    }

    button {
      margin-bottom: 8px;
      margin-right: 8px;
      font-size: $fs_h2;
    }

    &-wrapper {
      &-left {
        flex-basis: 4rem;
      }

      .cell {
        width: $cell_size_mobile;
        height: $cell_size_mobile;
      }

      .ship-wrapper {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}