.form-input {
  position: relative;
  box-sizing: border-box;


  &-control {
    font-size: $fs_main;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
  }

  &-control:focus {
    @include outline-focus(#ccc);
  }

  &-txt {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: $fs_main;
    color: #7b7b7b;
    transition: all .3s ease-out;
    pointer-events: none;
  }
}

.show {
  transform: translateY(-60%);
  font-size: 12px;
}