.header {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c7d1e2;
  box-shadow: 1px 1px 10px #7b7b7b;

  .user-info {
    display: flex;
    align-items: center;

    .user-img-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #c7d1e2;
      margin-left: 10px;
    }

    button {
      font-size: $fs_h2;
      margin-left: 1rem;
    }
  }
}