.header {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  border-bottom: 1px solid #c7d1e2;
  box-shadow: 1px 1px 10px #7b7b7b;

  .user-info {
    display: flex;
    align-items: center;

    .user-img-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color_avatar_bg;
      margin-left: 10px;
    }

    .locale-changer-wrapper button {
      font-size: $fs_h2;
      margin-left: 8px;
    }

    .btn {
      font-size: $fs_main;
      margin-left: 8px;
    }
  }

  .whos-turn {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }

  @media screen and (max-width: $md) {
    font-size: $fs_xs_small;

    .user-info {
      .btn {
        font-size: $fs_xs_small;
        padding: 5px 10px;
      }
    }


    .user-img-circle {
      display: none;
    }
  }
}