.list-block {
  max-width: $list_max_width;
  width: 100%;

  .list-header {
    margin-bottom: 10px;
  }

  .players-online-list {
    margin: 0;
    padding: 10px;
    height: $list_height;
    list-style-type: none;
    box-sizing: border-box;
    scrollbar-width: none;
    background-color: $color_list_bg;
    border-radius: 4px;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      box-sizing: border-box;
      background-color: $color_list_item_bg;
      border-radius: 4px;
      margin-bottom: 10px;

      p {
        margin: 0;
      }

      .inviteButtons {
        display: flex;
        height: auto;

        .btn {
          padding: 5px 10px;
          font-size: $fs_small;

          &:last-child {
            margin-left: 8px;
          }
        }
      }

      &:hover {
        background-color: $color_list_item_bg_hover;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: $md) {
    .players-online-list {
      height: $list_height_mob;
      scrollbar-width: initial;
    }

    .list-block:last-child {
      order: -1;
      margin-bottom: 16px;
    }
  }
}