.notification {
  position: fixed;
  top: 2rem;
  right: 1rem;
  z-index: 10;
  max-width: 350px;
  width: 100%;

  &-content {
    border-radius: 5px;
    background-color: green;
    padding: 1rem;
    color: #fff;
    margin-left: auto;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: $md) {
    width: calc(100% - 16px);
    top: 8px;
    right: 8px;
    font-size: $fs_small;

    &-content {
      padding: 8px;
    }
  }
}

.notification-animation {
  &-enter {
    transform: translate(120px);
    opacity: 0;
  }

  &-enter-active {
    transition: all .6s ease;
  }

  &-enter-to {
    opacity: 1;
  }

  &-leave {
    opacity: 1;
  }

  &-leave-active {
    transition: transform .6s ease, opacity .6s;
  }

  &-leave-to {
    transform: translate(120px);
    opacity: 0;
  }

  &-move {
    transition: transform .6s ease
  }
}