.btn {
  outline: none;
  border-radius: $br_button;
  box-sizing: border-box;
  padding: 15px;
  font-size: $fs_button;
  cursor: pointer;
  transition: all .1s ease-in;

  &-main {
    background-color: $color_button;
    border: none;
    color: white;

    &:hover {
      background-color: $color_button_hover;
    }

    &:active {
      background-color: $color_button_active;
      transform: scale(1.03);
    }
  }

  &-bordered {
    background-color: transparent;
    color: $color_button;
    border: 1px solid $color_button;

    &:hover {
      background-color: $color_button;
      color: white;
    }

    &:active {
      background-color: $color_button_active;
      transform: scale(1.03);
    }
  }

  &:disabled {
    opacity: .5;
    cursor: auto;

    &:hover {
      background-color: $color_button;
    }
  }

  &-alive {
    animation: 3s linear alternate alive;
  }

  @keyframes alive {
    0% {
      transform: scale(1.2);
    }

    20% {
      transform: scale(1);
    }

    40% {
      transform: scale(1.2);
    }

    60% {
      transform: scale(1);
    }

    80% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
}