.parent-locale-changer {
  position: relative;

  .change-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: $fs_main;
    transition: transform .2s ease-in;
    background-color: $color_button;
    z-index: -1;
    outline: none;
    border: 1px solid black;
    cursor: pointer;

    &:active {
      border: 1px solid white;
    }

    &:hover {
      background-color: $color_button_hover;
    }
  }

  button:nth-child(2) {
    transition-delay: .1s;
  }

  button:nth-child(3) {
    transition-delay: .2s;
  }

  .btn_active:nth-child(2) {
    z-index: 1;
    transform: translate(70%, -50%);
  }

  .btn_active:nth-child(3) {
    z-index: 1;
    transform: translate(180%, -50%);
  }
}

.locale-changer {
  width: 50px;
  height: 50px;
  background: $color_button;
  cursor: pointer;
  font-size: $fs_main;
  font-weight: bolder;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid black;

  &:active {
    border: 1px solid white;
  }

  &:hover {
    background-color: $color_button_hover;
  }

  @media screen and (max-width: $md) {
    font-size: $fs_small;
    width: 40px;
    height: 40px;

    &-wrapper {
      .change-btn {
        font-size: $fs_small;
        width: 30px;
        height: 30px;
      }
    }
  }
}