.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/images/main-screen-img.jpg") center / cover no-repeat;
}