.board {
  display: flex;

  .battleship-grid {
    margin: 2vmin;
    display: grid;
    background: $color_board_bg;
    grid-template-rows: repeat(10, $cell_size);
    grid-template-columns: repeat(10, $cell_size);

    .deck-1 {
      background: blue;
    }

    .deck-2 {
      background: crimson;
    }

    .deck-3 {
      background: lightgray;
    }

    .deck-4 {
      background: green;
    }

    div {
      border: 1px solid $color_board_cell_border;

      &:hover {
        cursor: pointer;
      }
    }

    .possible-ship {
      background: $color_board_cell_hover;
    }

  }
}