.board {
  display: flex;

  .battleship-grid {
    margin: $dot_size;
    display: grid;
    background: $color_board_bg;
    grid-template-rows: repeat(10, $cell_size);
    grid-template-columns: repeat(10, $cell_size);

    div {
      border: 1px solid $color_board_cell_border;
      position: relative;
    }

    &.user div {
      &:not(.deck-4-0):not(.deck-3-1):not(.deck-3-0):not(.deck-2-2):not(.deck-2-1):not(.deck-2-0):not(.deck-1-3):not(.deck-1-2):not(.deck-1-1):not(.deck-1-0):hover {
        cursor: pointer;
      }

      &:hover {
        cursor: not-allowed;
      }
    }

    &.enemy div {
      &:not(.hit):not(.miss):hover::after {
        content: "";
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #c7d1e2;
        width: $dot_size;
        height: $dot_size;
      }

      &:hover {
        cursor: not-allowed;
      }

      &:not(.hit):not(.miss):hover {
        cursor: pointer;
      }
    }

    .hit,
    .miss {
      display: flex;
      justify-content: center;
      align-items: center;

      &:after,
      &:before {
        content: "";
        position: absolute;
        border-radius: 100%;
        width: $dot_size;
        height: $dot_size;
      }

      &:before {
        animation: hit 0.2s ease-out forwards;
        border: 0.1vmin solid;
      }
    }

    .miss {
      &:after {
        background-color: white;
      }

      &:before {
        border-color: white;
      }
    }

    .hit {
        background: gray;
      &:after {
        background-color: red;
      }

      &:before {
        border-color: red;
      }
    }

    .deck-1-3, .deck-1-2, .deck-1-1, .deck-1-0,
    .deck-2-2, .deck-2-1, .deck-2-0,
    .deck-3-1, .deck-3-0,
    .deck-4-0 {
      background: gray;
    }

    .possible-ship {
      background: $color_board_cell_hover;
    }
  }
}
