.board {
  display: flex;

  .battleship-grid {
    margin: 2vmin;
    display: grid;
    background: $color_board_bg;
    grid-template-rows: repeat(10, $cell_size);
    grid-template-columns: repeat(10, $cell_size);

    .hit, .miss {
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: '';
        position: absolute;
        border-radius: 100%;
        width: 2vmin;
        height: 2vmin;
      }

      &:before {
        content: '';
        position: absolute;
        animation: hit .2s ease-out forwards;
        border: .1vmin solid;
        border-radius: 100%;
        width: 2vmin;
        height: 2vmin;
      }
    }

    .miss {
      &:after {
        background-color: white;
      }

      &:before {
        border-color: white;
      }
    }



    .hit {
      &:after {
        background-color: red;
      }

      &:before {
        border-color: red;
      }
    }

    .check {
      background: gray;
    }

    .deck-1 {
      background: blue;
    }

    .deck-2 {
      background: crimson;
    }

    .deck-3 {
      background: lightgray;
    }

    .deck-4 {
      background: green;
    }

    div {
      border: 1px solid $color_board_cell_border;

      &:hover {
        cursor: pointer;
      }
    }

    .possible-ship {
      background: $color_board_cell_hover;
    }

  }
}