.fade-enter-active {
  transition: all .3s ease;
}
.fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  99% {
    opacity: 0;
    transform: scale(4);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}