//colors
$color_main: #fff;
$color_button: #b2b2ed;
$color_button_hover: #c3c3ff;
$color_button_active: #8c8cbf;
$color_bg: #f3f3f3;
$color_board_bg: hsl(200, 100%, 50%);
$color_cell: gray;
$color_cell_hit: red;
$color_cell_miss: white;
$color_cell_occupied: hsl(195, 93%, 40%);
$color_board_cell_hover: hsl(200, 100%, 70%);
$color_board_cell_border: hsla(0, 0%, 100%, .2);
$color_avatar_bg: #c7d1e2;
$color_loader: #3498db;
$color_list_bg: #757c8d;
$color_list_item_bg: #c7d1e2;
$color_list_item_bg_hover: #d2ddef;

//font size
$fs_h1: 160;
$fs_h2: 1rem;
$fs_h3: 24px;
$fs_main: 18px;
$fs_small: 14px;
$fs_xs_small: 12px;
$fs_button: 32px;

//font size mob
$fs_h1_mob: 40;
$fs_button_mob: 24;

//margins
$mr_header: 81px;

//size
$cell_size: 4.6vmin;
$cell_size_mobile: 8vmin;
$dot_size: 2vmin;
$dot_size_mobile: 3vmin;
$loader_radius: 25px;
$loader_border: 4px;
$list_max_width: 400px;
$list_height: 466px;
$list_height_mob: 250px;

//padding
$pa_main: 19px;

//border-radius
$br_button: 8px;
$br_select: 6px;

//line height
$lh_h2: 50px;