//colors
$color_main: #fff;
$color_button: #FB8F1D;
$color_button_hover: #d6721d;
$color_button_active: #f5891e;
$color_bg: #f3f3f3;
$color_board_bg: hsl(200, 100%, 50%);
$color_board_cell_hover: hsl(200, 100%, 70%);
$color_board_cell_border: hsla(0, 0%, 100%, .2);

//font size
$fs_h1: 160;
$fs_h2: 1rem;
$fs_h3: 24px;
$fs_main: 18px;
$fs_button: 32;

//font size mob
$fs_h1_mob: 40;
$fs_button_mob: 24;

//margins
$mr_header: 81px;

//size
$cell_size: 4.6vmin;
$dot_size: 2vmin;

//padding
$pa_main: 19px;

//border-radius
$br_button: 8px;
$br_select: 6px;

//line height
$lh_h2: 50px;