@font-face {
  font-family: Bangers;
  src: url('~@/assets/fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('~@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url('~@/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 900;
}
