* {
  -webkit-tap-highlight-color: transparent;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: $color_bg;
  overflow-x: hidden;
}

h1 {
  font-family: Bangers, sans-serif;
  margin: 3rem;
  color: $color_main;
  letter-spacing: 8px;
  @include adaptive-font($fs_h1, $fs_h1_mob);
}

button {
  @include adaptive-font($fs_button, $fs_button_mob);
}
